/* ==========================================================================
Vars
========================================================================== */

/*** Colors ***/
$c-white:      #ffffff;
$c-black:      #000000;
$c-blue:       #c3eafc;
$c-blue-dark:  #92b8c9;
$c-blue-dark2: #123B49;
$c-beige:      #e0dac1;
$c-beige-dark: #aea991;
$c-green:      #009178;
$c-salmon:     #FFC5A7;